@model GoodNeighborHouse.TimeCard.Web.Models.TimeCardViewModel

@{
    ViewData["Title"] = "Add";
}

<h1>check icon</h1>
<h1>We have recorded your time</h1>
<h1>@Model.LastPunch</h1>
<br /><br />
<h1>Have a wonderful day :)</h1>

