@model GoodNeighborHouse.TimeCard.Web.Models.Department

@{
    ViewBag.Title = "Edit Department";
    Layout = "_Layout";
}

<h2>@Model.Name</h2>

@Html.HiddenFor(department => department.Id)

<div class="form-group">
    <label>Name</label>
    @Html.TextBoxFor(department => department.Name)
</div>