<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Volunteer Tracking System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="kiosk">
    <div class="container-fluid">
        <div class="row" style="height: 10vh">
            <div class="col-sm col-12" style="font-size: 10vh;">
                <img src="logo.svg" style="height: 10vh;" />
            </div>
        </div>
        <div class="row text-white" style="height: 60vh; font-size: 45vh;">
            <div class="col-sm col-12 text-center">11:38<span style="font-size: 10vh;">AM</span></div>
        </div>
        <div class="row" style="height: 35vh; font-size:10vh;">
            <div class="col-sm col-10">
                <input type="text" placeholder="Enter Username" style="width: 100%; border: 1px solid #747474; border-radius: 15px;" />
            </div>
            <div class="col-sm col-2 ">
                <button type="button" class="btn btn-primary">Login</button>
            </div>
        </div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

</body>
</html>
